* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2E4053;
    color: white;
}

.myP {
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocContainer {
    background: #566573;
    padding: 5rem;
    margin: 1rem;
    box-shadow: 2px 2px 2px black;
}

.inputcontainer {
    color: black;
    margin-top: 1rem;
    #btn {
        padding: 0.5rem;
        border-radius: 5%;
        &:hover {
            background: grey;
        }
    }
}