* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #21542f;
    color: white;
}

.myP {
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputcontainer {
    color: black;
}